<footer>

  {{!-- Begin footer main --}}
  {{!-- @include grid --}}
  <div>
    <h1>{{title}}</h1>
    <ul>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
    </ul>
  </div>

  <div>
    <h1>{{title}}</h1>
    <ul>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
    </ul>
  </div>

  <div>
    <h1>{{title}}</h1>
    <ul>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
    </ul>
  </div>

  <div>
    <h1>{{title}}</h1>
    <ul>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
    </ul>
  </div>
  {{!-- End footer main --}}

  {{!-- Begin footer mini --}}
  <div>
    <div>{{title}}</div>
    <ul>
      <li><a href="#">{{link}}</a></li>
      <li><a href="#">{{link}}</a></li>
    </ul>
  </div>
  {{!-- End footer mini --}}

</footer>
